<div class="m-4">

    <h4>Sistema de controle de clientes</h4>
    <p>Página de cadastro de clientes.</p>

    <!-- formulário de cadastro -->
    <form>

        <!-- primeira linha -->
        <div class="row mb-3">
            <div class="col">
                <label>Nome do cliente:</label>
                <input type="text" class="form-control"/>
            </div>
        </div>

        <!-- segunda linha -->
        <div class="row mb-3">
            <div class="col">
                <label>Endereço de email:</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col">
                <label>CPF:</label>
                <input type="text" class="form-control"/>
            </div>
            <div class="col">
                <label>Selecione o tipo:</label>
                <select class="form-select">
                    <option value="Comum">Cliente Comum</option>
                    <option value="Preferencial">Cliente Preferencial</option>
                    <option value="VIP">Cliente VIP</option>
                </select>
            </div>
        </div>

        <!-- terceira linha -->
        <div class="row mb-3">
            <div class="col">
                <input type="submit" value="Realizar Cadastro" class="btn btn-success"/>
            </div>
        </div>

    </form>

</div>