<h4>Consulta de clientes</h4>
<p>Listagem de clientes cadastrados no sistema.</p>
<hr/>

<!-- mensagem de sucesso -->
<div *ngIf="mensagemSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesso!</strong> {{ mensagemSucesso }}
    <button (click)="mensagemSucesso = ''" type="button" class="btn-close" aria-label="Close"></button>
</div>

<!-- desenhando o paginador -->
<div class="text-center">
    <pagination-controls
        previousLabel="Página anterior"
        nextLabel="Próxima página"
        (pageChange)="handlePageChange($event)"
    />
</div>

<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nome do cliente</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Cadastrado em</th>
                <th>Alterado em</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clientes | paginate : { itemsPerPage: 5, currentPage: pagina }">
                <td>{{ c.nome | uppercase }}</td>
                <td>{{ c.cpf | mask : '000.000.000-00' }}</td>
                <td>{{ c.email | lowercase }}</td>
                <td>{{ c.dataInclusao | date : 'dd/MM/yy HH:mm' }}</td>
                <td>{{ c.dataUltimaAlteracao | date : 'dd/MM/yy HH:mm' }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary me-2"
                        [routerLink]="['/pages/editar-clientes', c.id]">                        
                        Editar
                    </button>
                    <button class="btn btn-sm btn-outline-danger"
                        (click)="onDelete(c.id)">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    Quantidade de clientes: {{ clientes.length }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>