<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <h3>Acesso ao sistema</h3>
                    <p>Entre com as suas credenciais.</p>
                </div>

                <form>

                    <div class="mb-2">
                        <label>Email do usuário:</label>
                        <input type="text" class="form-control" 
                               placeholder="Digite seu email aqui."/>
                    </div>

                    <div class="mb-2">
                        <label>Senha do usuário:</label>
                        <input type="password" class="form-control" 
                               placeholder="Digite sua senha aqui."/>
                    </div>

                    <div class="mb-2 d-grid">
                        <input type="submit" class="btn btn-primary"
                            value="Acessar Sistema"/>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>